<%-include('../partials/_header.ejs')%>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Sr No.</th>
                    <th scope="col">ID</th>
                    <th scope="col">Date of QR code Creation</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < data.length; i++) { %>
                    <tr>
                        <th scope="row"><%=i+1%></td>
                            <td><%= data[i]._id %></td>
                    <td><%=data[i]["qr_date_created"]%></td>
                    <td><a href="/qr?id=<%= data[i]._id %>">Click</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
<%-include('../partials/_footer.ejs')%> 